<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

  
  <!-- Add Servlet -->
  <servlet>
  	<servlet-name>addservlettest</servlet-name>
  	<servlet-class>com.gamehub.AddServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addservlettest</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <!--  Square Servlet -->
  <servlet>
  	<servlet-name>squareservlettest</servlet-name>
  	<servlet-class>com.gamehub.SquareServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>squareservlettest</servlet-name>
  	<url-pattern>/sq</url-pattern>
  </servlet-mapping>
  
  <!-- Database Servlet Test  -->
    <servlet>
  	<servlet-name>databaseservlettest</servlet-name>
  	<servlet-class>com.gamehub.DatabaseServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>databaseservlettest</servlet-name>
  	<url-pattern>/dbtest</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>