



.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;/*#353535;*/
    font-size: 15px; /*3rem;*/
    color: red;/*#fff;*/
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    /*border properties*/

    border-color: red;
    border-style: solid;
    border-width: 1px;


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.card a{
  color: red;
  text-decoration: none;
}


.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }

 .basic-grid {
    display: grid;
    gap: 1rem;

    /* 1 too skinny, too much code */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */

    /* 2 cleaner code */
    /* grid-template-columns: repeat(12, 1fr); */

    /* 3  better sizing, but overflows */
    /* grid-template-columns: repeat(12, minmax(240px, 1fr)); */

    /* 4 final */
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
 }



 .product-img {
    /*max-width: 100%;
    height: auto;*/


    width: 200px;
    min-height: auto;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
 }
<<<<<<< HEAD

 .row {
   display: -ms-flexbox; /* IE10 */
   display: flex;
   -ms-flex-wrap: wrap; /* IE10 */
   flex-wrap: wrap;
   margin: 0 -16px;
 }

 .col-25 {
   -ms-flex: 25%; /* IE10 */
   flex: 25%;
 }

 .col-50 {
   -ms-flex: 50%; /* IE10 */
   flex: 50%;
 }

 .col-75 {
   -ms-flex: 75%; /* IE10 */
   flex: 75%;
 }

 .col-25,
 .col-50,
 .col-75 {
   padding: 0 16px;
 }

 input[type=text] {
   width: 100%;
   margin-bottom: 20px;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }

 input[type=tel] {
   width: 100%;
   margin-bottom: 20px;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }

 input[type=number] {
   width: 100%;
   margin-bottom: 20px;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }

 .select-css {
   width: 100%;
   margin-bottom: 20px;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }

/****************************************/
 /* product detail page images          */
 /****************************************/
 .column {
    float: left;
    width: 25%;
    padding: 10px;
  }

  .column img{
    opacity: 0.8;
    cursor: pointer;
  }

  .column img:hover {
    opacity: 1;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .expandedImgContainer {
    position: relative;
    display: none;
  }

  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .disabledbtn {
    position: relative;
    opacity: 0.5;
    bottom: 10px;
    right: 15px;
    font-size: 18px;
    cursor: not-allowed;
  }
=======
>>>>>>> 4236d0ca27c544ba40824d380d5b05136443de6c
