

.orderform-card {
  padding: 20px;
  font-size: 12px;
}

.productdetail-card {
  padding: 20px;
}



 .row {
   display: -ms-flexbox; /* IE10 */
   display: flex;
   -ms-flex-wrap: wrap; /* IE10 */
   flex-wrap: wrap;
   margin: 0 -16px;
 }

 .col-25 {
   -ms-flex: 25%; /* IE10 */
   flex: 25%;
 }

 .col-50 {
   -ms-flex: 50%; /* IE10 */
   flex: 50%;
 }

 .col-75 {
   -ms-flex: 75%; /* IE10 */
   flex: 75%;
 }

 .col-25,
 .col-50,
 .col-75 {
   padding: 0 16px;
 }

 input[type=text] {
   width: 100%;
   margin-bottom: 20px;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }

 input[type=tel] {
   width: 100%;
   margin-bottom: 20px;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }

 input[type=number] {
   width: 100%;
   margin-bottom: 20px;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }

 .select-css {
   width: 100%;
   margin-bottom: 20px;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }

/****************************************/
 /* product detail page images          */
 /****************************************/
 .column {
    float: left;
    width: 25%;
    padding: 10px;
  }

  .column img{
    opacity: 0.8;
    cursor: pointer;
  }

  .column img:hover {
    opacity: 1;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .expandedImgContainer {
    position: relative;
    display: none;
  }

  .expanded-closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
