* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}


html, body {
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color: white; /*#f4f4f4;*/
  height: 100%;
  position: relative;
}

.main-container{
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}


/****************************************/
/*  Navigation                          */
/****************************************/

/* Add a black background color to the top navigation. Changed background to white */
.topnav {
    /*position: relative;*/
    background-color: white;/*#333;*/
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black; /*#f2f2f2;*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;/*17px;*/
  font-family: Tahoma, Verdana, Arial, sans-serif; /* RG: added this */
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

/* Add a color to the active/current link */
.topnav a.active{
  background-color: red; /*#4CAF50;*/
  color: white;
  font-family: Helvetica, Arial, sans-serif;   font-weight: bold;
  font-style : italic;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.topnav-right a.active {
  background-color: red; /*#4CAF50;*/
  color: white;
  font-family: Helvetica, Arial, sans-serif;   font-weight: bold;
  font-style : italic;
}

/* Company Logo */
#topnav-logo {
  padding: 0px;
  margin: 0px;
}
#topnav-logo img{
  width: 20%;
  height: 20%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  border: none;
  outline: none;
  color: black; /*white;*/
  text-align: center;
  padding: 16px 16px;
  background-color: inherit;
  /*font-family: inherit;*/
  font-size: 12px;/*17px;*/
  font-family: Tahoma, Verdana, Arial, sans-serif;
  margin: 0;
}

/* About dropdown, become red when active page */
.subnav button.active {
  background-color: red; /*#4CAF50;*/
  color: white;
  font-family: Helvetica, Arial, sans-serif;   font-weight: bold;
  font-style : italic;
}

/* Add a red background color to navigation links on hover. changed to #ddd */
.navbar a:hover, .subnav:hover .subnavbtn {
  color: black;/*white;*/
  background-color: #ddd; /*red;*/
  font-weight: bold;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #ddd;/*red;*/
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: black; /*white;*/
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #bbb;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}



/* Search Bar Overlay */
.searchBtn {
  background: white;/*#f1f1f1;*/
  border: none;
  padding: 16px 16px; /*10px 15px;*/
  font-size: 12px;/*20px;*/
  font-family: Tahoma, Verdana, Arial, sans-serif;
  cursor: pointer;
}

.searchBtn:hover {
  background: #ddd;
  font-weight: bold;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: red; /*rgb(0,0,0);*/
  background-color: red; /*rgba(0,0,0, 0.9);*/
  opacity: 0.9;
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 70%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}


/****************************************/
/* Main                                 */
/****************************************/
.main{
  /*font-family: Tahoma, Verdana, Arial, sans-serif; */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}



/****************************************/
/* Footer                               */
/****************************************/
footer {
  position: absolute;/*fixed;*/
  left: 0;
  bottom: 0;
  /*height: 5rem;*/
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 11px;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}



/* Arrow To Top Button (go to top button) */
.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: red;/*#27ae60;*/
  border-radius: 5px;
  bottom: 40px;
  right: 40px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  opacity: 0.7;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
